---
import { work, education } from '~/resume.json'
import ExternalLink from '~/components/ExternalLink.astro'
import { formatMonth } from '~/utils/date'
import { parseMD } from '~/utils/md';
---
<section class="my-8">
  <h2>Experiencia</h2>
  <ol class="timeline">
    {work.map(item => (
      <li class="timeline-item">
        <div class="timeline-bullet bg-gradient-primary"></div>
        <span class="timeline-timeFrame">{formatMonth(item.startDate)} - {item.endDate.length > 0 ? formatMonth(item.endDate) : 'presente'}</span>
        <h3 class="timeline-title">
          {item.url ? <ExternalLink class="external" href={item.url}>{item.name}</ExternalLink> : item.name}<span class="mx-3">·</span>{item.position}
        </h3>
        {item.summary && <p class="timeline-summary">{item.summary}</p>}
        <ul class="list-disc ms-4">
          {item.highlights.map(highlight => (
            <li class="mb-1"><Fragment set:html={parseMD(highlight)} /></li>
          ))}
        </ul>
      </li>
    ))}
  </ol>
</section>

<section class="my-8">
  <h2>Educación</h2>
  <ol class="timeline">
    {education.map(item => (
      <li class="timeline-item">
        <div class="timeline-bullet bg-gradient-primary"></div>
        <span class="timeline-timeFrame">{formatMonth(item.startDate)} - {item.endDate.length > 0 ? formatMonth(item.endDate) : 'presente'}</span>
        <h3 class="timeline-title">
          {item.url ? <ExternalLink class="external" href={item.url}>{item.institution}</ExternalLink> : item.institution}<span class="mx-3">·</span>{item.area}
        </h3>
      </li>
    ))}
  </ol>
</section>

<style>
  .timeline {
    @apply relative border-s-2 border-body/10 ms-2;
  }

  .timeline-item {
    @apply mb-10 ms-6;
  }

  .timeline-bullet {
    @apply absolute w-4 h-4 rounded-full mt-1 -start-2 bg-primary shadow-neon-md shadow-primary;
  }

  .timeline-timeFrame {
    @apply -ms-2 px-2 py-1 bg-body/10 rounded-lg;
  }

  .timeline-title {
    @apply mt-3 mb-1 font-semibold;
  }

  .timeline-summary {
    @apply my-1 text-muted;
  }
</style>
