---
import Globe from '@lucide/astro/icons/globe';
import UserRoundPen from '@lucide/astro/icons/user-round-pen';
import projects from '@/data/projects';
import type { Locale } from '@/i18n/constants';
import { translate, useTranslations } from '@/i18n/helpers';
import ExternalLink from '@/components/ExternalLink.astro';
import Illustration from '@/components/Illustration.astro';
import SocialIcon from '@/components/SocialIcon.astro';
import SkillIcon from '@/components/SkillIcon.astro';
import { cn } from '@/utils/cn';

const locale = Astro.currentLocale as Locale | undefined;
const t = useTranslations(locale);
---
{projects && projects.length > 0 && (
  <section class="pt-24" id="projects">
    <h2 class="flex items-center mb-8"><Globe class="text-primary drop-shadow-primary-xl mr-3" />{t('projects.featuredProjects')}</h2>

    <div class="projects-grid">
      {projects.map(item => (
        <article class="project-item" style={{ '--main-color': item.themeColor }}>
          <div class="image">
            {['img-blurred', 'img-main'].map(className => (
              <Illustration
                alt={item.name}
                class={cn("img", className)}
                src={item.image}
                aria-hidden={className === 'img-blurred'}
                width="960"
                height="540"
              />
            ))}
          </div>
          <div class="content">
            <header>
              <h3 class="title"><ExternalLink href={item.url}>{item.name}</ExternalLink></h3>
              <div class="flex items-center -mx-3">
                {item.urlCode && (
                  <ExternalLink
                    class="px-3 icon"
                    href={item.urlCode}
                    title={t('projects.viewCode')}
                    aria-label={t('projects.viewCode')}
                  >
                    <SocialIcon name="github" class="size-6" />
                  </ExternalLink>
                )}
                {item.urlContributions && (
                  <ExternalLink
                    class="px-3 icon"
                    href={item.urlContributions}
                    title={t('projects.viewMyContributions')}
                    aria-label={t('projects.viewMyContributions')}
                  >
                    <UserRoundPen class="size-6" />
                  </ExternalLink>
                )}
              </div>
            </header>
            <div class="flex flex-wrap items-center gap-3 mb-4">
              {item.technologies.map(technology => (
                <span class="skill-badge">
                  <SkillIcon name={technology} />
                  <span>{technology}</span>
                </span>
              ))}
            </div>
            <p>{translate(item.description, locale)}</p>
          </div>
        </article>
      ))}
    </div>
  </section>
)}

<style>
  @reference '@/styles/global.css';

  .projects-grid {
    @apply grid gap-8;
  }

  .project-item {
    --primary: oklch(from var(--main-color) 0.56 calc(c * 0.85) h);
    .dark & {
      --primary: oklch(from var(--main-color) 0.76 calc(c * 0.85) h);
    }
    @apply relative grid md:grid-cols-2 p-8 gap-6 md:gap-8 bg-primary/10 rounded-2xl;

    a {
      @apply z-[1];
    }

    header {
      @apply mb-4 flex items-start justify-between gap-x-4;
    }

    .image {
      @apply relative md:order-2;
    }

    .content {
      @apply md:order-1;
    }

    .img {
      @apply rounded-xl w-full aspect-video motion-safe:transition-all duration-300;
    }

    .img-main {
      @apply border shadow-[0_0.5rem_1.5rem_0_rgba(0,0,0,0.2)] -translate-y-2;

      .project-item:has(a:hover:not(:active)) & {
        @apply shadow-[0_0.2rem_0.5rem_0_rgba(0,0,0,0.3)] translate-y-0;
      }
    }

    .img-blurred {
      @apply absolute select-none blur-md -z-[1] contrast-150 saturate-200 opacity-60;

      .project-item:has(a:hover:not(:active)) & {
        @apply blur-xs;
      }
    }

    .title {
      @apply m-0 font-bold text-pretty;
      a:before {
        @apply [content:''] absolute inset-0 select-none z-[1];
      }
    }
  }
</style>
