---
import BriefcaseBusiness from 'lucide-solid/icons/briefcase-business';
import GraduationCap from 'lucide-solid/icons/graduation-cap';
import work from '@/data/work';
import education from '@/data/education';
import ExternalLink from '@/components/ExternalLink.astro';
import type { Locale } from '@/i18n/constants';
import { translate, useTranslations } from '@/i18n/helpers';
import { formatMonth } from '@/utils/date';
import { parseMD } from '@/utils/md';
import SkillIcon from '@/components/SkillIcon.astro';

const locale = Astro.currentLocale as Locale | undefined;
const t = useTranslations(locale);
---
<section class="pt-24" id="experience">
  <h2 class="flex items-center mb-8"><BriefcaseBusiness class="text-primary drop-shadow-primary-xl mr-3" />{t('portfolio.experience')}</h2>
  <ol class="timeline">
    {work.map(item => (
      <li class="item">
        <span class="period">{formatMonth(item.startDate, locale)} - {item.endDate.length > 0 ? formatMonth(item.endDate, locale) : t('portfolio.present')}</span>
        <h3 class="title">
          {translate(item.position, locale)}<span class="mx-3">·</span>{item.url ? <ExternalLink class="external" href={item.url}>{item.name}</ExternalLink> : item.name}
        </h3>
        {item.summary && <p class="summary">{translate(item.summary, locale)}</p>}
        <ul class="highlights">
          {translate(item.highlights, locale)?.map(highlight => (
            <li class="mb-3"><Fragment set:html={parseMD(highlight)} /></li>
          ))}
        </ul>
        <div class="flex flex-wrap items-center gap-3">
          {item.skills.map(skill => (
            <span class="skill-badge">
              <SkillIcon name={skill} />
              <span>{skill}</span>
            </span>
          ))}
        </div>
      </li>
    ))}
  </ol>
</section>

<section class="pt-16">
  <h2 class="flex items-center mb-8"><GraduationCap class="text-primary drop-shadow-primary-xl mr-3" />{t('portfolio.education')}</h2>
  <ol class="timeline">
    {education.map(item => (
      <li class="item">
        <span class="period">{formatMonth(item.startDate, locale)} - {item.endDate.length > 0 ? formatMonth(item.endDate, locale) : t('portfolio.present')}</span>
        <h3 class="title">
          {translate(item.area, locale)}<span class="mx-3">·</span>{item.url ? <ExternalLink class="external" href={item.url}>{item.institution}</ExternalLink> : item.institution}
        </h3>
      </li>
    ))}
  </ol>
</section>

<style>
  @reference '@/styles/global.css';

  .timeline {
    @apply relative border-s-2 border-body/10 ms-2.5;

    .item {
      @apply ms-6;

      &:not(:last-child) {
        @apply mb-12 border-body/10;
      }

      &:before {
        @apply absolute [content:''] main-gradient-light size-4 rounded-full mt-1 -start-2 drop-shadow-primary-lg;
      }

      @variant dark {
        &:before {
          @apply main-gradient-dark;
        }
      }
    }

    .period {
      @apply px-2 py-1 bg-primary/10 rounded-lg;
    }

    .title {
      @apply mt-4 mb-4 font-semibold;
    }

    .summary {
      @apply my-1;
    }

    .highlights {
      @apply list-disc ms-4 mb-6;
    }
  }
</style>
