---
import { work, education } from '@/resume.json';
import ExternalLink from '@/components/ExternalLink.astro';
import type { Locale } from '@/i18n/constants';
import { useTranslations } from '@/i18n/helpers';
import { formatMonth } from '@/utils/date';
import { parseMD } from '@/utils/md';

const locale = Astro.currentLocale as Locale | undefined;
const translate = useTranslations(locale);
---
<section class="my-8">
  <h2>{translate('portfolio.experience')}</h2>
  <ol class="timeline">
    {work.map(item => (
      <li class="item">
        <div class="bullet bg-gradient-primary"></div>
        <span class="period">{formatMonth(item.startDate, locale)} - {item.endDate.length > 0 ? formatMonth(item.endDate, locale) : translate('portfolio.present')}</span>
        <h3 class="title">
          {item.url ? <ExternalLink class="external" href={item.url}>{item.name}</ExternalLink> : item.name}<span class="mx-3">·</span>{item.position}
        </h3>
        {item.summary && <p class="summary">{item.summary}</p>}
        <ul class="highlights">
          {item.highlights.map(highlight => (
            <li class="mb-0.5"><Fragment set:html={parseMD(highlight)} /></li>
          ))}
        </ul>
      </li>
    ))}
  </ol>
</section>

<section class="my-8">
  <h2>{translate('portfolio.education')}</h2>
  <ol class="timeline">
    {education.map(item => (
      <li class="item">
        <div class="bullet bg-gradient-primary"></div>
        <span class="period">{formatMonth(item.startDate, locale)} - {item.endDate.length > 0 ? formatMonth(item.endDate, locale) : translate('portfolio.present')}</span>
        <h3 class="title">
          {item.url ? <ExternalLink class="external" href={item.url}>{item.institution}</ExternalLink> : item.institution}<span class="mx-3">·</span>{item.area}
        </h3>
      </li>
    ))}
  </ol>
</section>

<style>
  @reference '@/styles/global.css';

  .timeline {
    @apply relative border-s-2 border-body/10 ms-2;

    .item {
      @apply mb-10 ms-6;
    }

    .bullet {
      @apply absolute w-4 h-4 rounded-full mt-1 -start-2 bg-primary shadow-neon-md shadow-primary;
    }

    .period {
      @apply -ms-2 px-2 py-1 bg-body/10 rounded-lg;
    }

    .title {
      @apply mt-3 mb-2 font-semibold;
    }

    .summary {
      @apply my-1;
    }

    .highlights {
      @apply list-disc ms-4;
    }
  }
</style>
