---
import Calendar from 'lucide-solid/icons/calendar';
import Clock from 'lucide-solid/icons/clock';
import type { PostEntry } from '~/types/Post';
import { formatShortDate } from '~/utils/date';
import { removeExtension } from '~/utils/files';
import type { Locale } from '~/i18n/constants';
import { useTranslations } from '~/i18n/helpers';

interface Props {
  post: PostEntry;
}

const { post } = Astro.props;
const locale = post.lang as Locale;
const translate = useTranslations(locale);
const { slug } = post;
const { title, description, date, image } = post.data;
const { remarkPluginFrontmatter } = await post.render();
const { readingTime } = remarkPluginFrontmatter;
---

<a href={`/${locale}/${slug}/`} class={`relative rounded-3xl overflow-hidden p-4 -mx-3 ${!image && 'bg-soft/50'}`}>
  {image && (
    image.src.endsWith('.svg')
    ? <img
        alt={image.alt}
        class="size-full object-cover absolute top-0 left-0 opacity-25 blur"
        loading="lazy"
        src={image.src}
        width="1080"
        height="567"
      />
    : <picture>
        <source srcset={removeExtension(image.src) + '-thumb.avif'} type="image/avif" />
        <source srcset={removeExtension(image.src) + '-thumb.webp'} type="image/webp" />
        <img
          alt={image.alt}
          class="size-full object-cover absolute top-0 left-0 opacity-25 blur"
          loading="lazy"
          src={removeExtension(image.src) + '-thumb.jpg'}
          width="320"
          height="168"
        />
      </picture>
  )}
  <h3 class="text-base m-0 line-clamp-1">{title}</h3>
  <p class="mt-1 line-clamp-1 text-foreground">{description}</p>
  <div class="flex flex-wrap gap-4 text-foreground text-sm mt-2">
    <time class="flex items-center" title={translate('blog.pubDate')} datetime={date.toISOString()}><Calendar class="size-4 mr-2" />{formatShortDate(date, locale)}</time>
    <span class="flex items-center" title={translate('blog.readingTime')}><Clock class="size-4 mr-2" />{readingTime}</span>
  </div>
</a>