---
import Calendar from 'lucide-solid/icons/calendar';
import Clock from 'lucide-solid/icons/clock';
import type { Locale } from '@/i18n/constants';
import { useTranslations } from '@/i18n/helpers';
import type { PostEntry } from '@/types/Post';
import { formatShortDate } from '@/utils/date';
import { removeExtension } from '@/utils/files';

interface Props {
  post: PostEntry;
}

const { post } = Astro.props;
const locale = post.lang as Locale;
const translate = useTranslations(locale);
const { slug } = post;
const { title, description, date, image } = post.data;
const { remarkPluginFrontmatter } = await post.render();
const { readingTime } = remarkPluginFrontmatter;
---

<a href={`/${locale}/${slug}/`} class="blogGridItem">
  <div class="frame">
    {image && (
      <div class="image">
        {image.src.endsWith('.svg')
          ? <img
              alt={image.alt}
              loading="lazy"
              src={image.src}
              width="320"
              height="168"
            />
          : <picture>
              <source srcset={removeExtension(image.src) + '-thumb.avif'} type="image/avif" />
              <img
                alt={image.alt}
                loading="lazy"
                src={removeExtension(image.src) + '-thumb.jpg'}
                width="320"
                height="168"
              />
            </picture>
        }
      </div>
    )}
    <div class="content">
      <h3 class="title">{title}</h3>
      <p class="description">{description}</p>
      <div class="flex flex-wrap gap-x-4 text-foreground text-sm mt-1">
        <time class="flex items-center" title={translate('blog.pubDate')} datetime={date.toISOString()}><Calendar class="size-4 mr-2" />{formatShortDate(date, locale)}</time>
        <span class="flex items-center" title={translate('blog.readingTime')}><Clock class="size-4 mr-2" />{readingTime}</span>
      </div>
    </div>
  </div>
</a>

<style>
  @reference '@/styles/global.css';

  .blogGridItem {
    @apply bg-gradient-to-bl from-primary/10 to-primary/50 p-1 rounded-2xl shadow-sm transition-shadow;

    &:hover {
      @apply shadow-neon-lg shadow-primary/50;
    }

    .frame {
      @apply bg-background flex overflow-hidden rounded-xl;
    }

    .image {
      @apply shrink-0 w-24 overflow-hidden relative;

      img {
        @apply size-full object-cover;
      }

      &:after {
        @apply [content:''] absolute top-0 left-[calc(100%_-_0.75rem)] size-full bg-background rounded-xl shadow-center-2xl shadow-primary-dark/25 transition-shadow;
      }
    }

    &:hover .image:after {
      @apply shadow-primary-dark;
    }

    .content {
      @apply w-full px-3 py-2;
    }

    .image + .content {
      @apply pl-0;
    }

    .title {
      @apply text-base m-0 line-clamp-2 text-pretty;
    }

    .description {
      @apply text-sm line-clamp-1 text-foreground;
    }
  }
</style>
