---
import type { Post } from "~/types/Post";
import { formatShortDate } from "~/utils/date";
import { parseMD } from "~/utils/md";

interface Props {
  post: Post;
}

const { post } = Astro.props;

const { id, title, description, content, readingTime, publishedAt, tags, image } = post;
const publishedAtDate = new Date(publishedAt);
---

<div class="container mx-auto">
  <h1 class="text-primary text-3xl leading-tight mb-6" transition:name={`t-${id}`}>{title}</h1>
  <h2 class="mt-6 text-xl font-normal text-pretty" transition:name={`d-${id}`}>{description}</h2>
  <div class="flex flex-wrap items-center gap-2 font-medium text-sm mt-6" transition:name={`m-${id}`}>
    <time class="px-2 py-1 bg-soft rounded-lg" title="Fecha de publicación" datetime={publishedAtDate.toISOString()}>{formatShortDate(publishedAtDate)}</time>
    <span class="px-2 py-1 bg-soft rounded-lg" title="Tiempo de lectura">{readingTime}</span>
    {tags.map(tag => <span class="px-2 py-1 bg-soft rounded-lg">{tag.name}</span>)}
  </div>
  {image && (
    <img alt={image.alternativeText} class="w-full rounded-xl mt-6" src={image.url} transition:name={`i-${id}`} />
  )}
  <article class="mt-12 mb-6 rich-text">
    <Fragment set:html={parseMD(content)} />
  </article>
</div>