---
import type { Post } from "~/types/Post";
import { formatShortDate } from "~/utils/date";
import { parseMD } from "~/utils/md";

interface Props {
  post: Post;
}

const { post } = Astro.props;

const { id, title, description, content, readingTime, publishedAt, tags, image } = post;
const publishedAtDate = new Date(publishedAt);
---

<div class="container mx-auto">
  <h1 class="text-primary text-3xl leading-tight mb-6" transition:name={`t-${id}`}>{title}</h1>
  <h2 class="mt-6 text-xl font-normal text-pretty" transition:name={`d-${id}`}>{description}</h2>
  <div class="flex flex-wrap items-center gap-2 font-medium text-sm mt-6" transition:name={`m-${id}`}>
    <time class="px-2 py-1 bg-soft rounded-lg" title="Fecha de publicación" datetime={publishedAtDate.toISOString()}>{formatShortDate(publishedAtDate)}</time>
    <span class="px-2 py-1 bg-soft rounded-lg" title="Tiempo de lectura">{readingTime}</span>
    {tags.map(tag => <span class="px-2 py-1 bg-soft rounded-lg">{tag.name}</span>)}
  </div>
  {image && (
    <img alt={image.alternativeText} class="w-full rounded-xl mt-6" src={image.url} transition:name={`i-${id}`} />
  )}
  <article class="mt-12 mb-6 rich-text">
    <Fragment set:html={parseMD(content)} />
  </article>
</div>

<style is:global>
  article.rich-text {
    /* Headers */
    h1 {
      @apply text-3xl font-bold mb-8;
    }

    h2 {
      @apply text-xl font-bold mb-6;
    }

    h3 {
      @apply text-xl font-medium mb-5;
    }

    h4 {
      @apply text-lg font-medium mb-4;
    }

    /* Horizontal rules */
    hr {
      @apply my-8;
    }

    a {
      @apply leading-relaxed;
    }

    p {
      @apply mb-6 leading-relaxed;
    }

    strong {
      @apply font-bold leading-relaxed;
    }

    em {
      @apply italic leading-relaxed;
    }

    del {
      @apply line-through leading-relaxed;
    }

    blockquote {
      @apply border-l-4 border-soft pl-4 py-2 mb-4;
    }

    ul {
      @apply list-disc pl-4 mb-4;
    }

    ol {
      @apply list-decimal pl-4 mb-4;
    }

    li {
      @apply mb-2;

      & > ul {
        @apply list-disc pl-4 mb-2;
      }

      & > ol {
        @apply list-decimal pl-4 mb-2;
      }
    }

    pre {
      @apply font-mono rounded bg-soft p-4 my-6;
    }

    code {
      @apply font-mono rounded-lg bg-soft px-2 py-1;
    }

    table {
      @apply w-full border-collapse my-6;
    }

    th {
      @apply text-left py-2 px-4 font-semibold border-b;
    }

    td {
      @apply py-2 px-4 border-b;
    }

    /* Images */
    img {
      @apply w-full object-cover rounded-xl my-6;
    }
  }
</style>